.serie-card{
    width: calc(100% / 4);
    height: 250px;
    margin: 20px;
    padding: 2px;
    overflow:hidden;
    position: relative;
    
    .poster-image{
        position: absolute;
        object-fit: cover;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        &:hover{
            opacity: 0%;
            transform: scale(110%);
            transition: all 0.4s;
        }
    }
    .description{
        .stars{
            color: #ebcc34;
        }
        span{
            font-weight: bold;
        }
        .language-image{
            margin-left: 5px;
            width: 25px;
            vertical-align: middle;
        }
        line-height: 40px;
        padding: 15px;
        color: #fff;
        background-color: #000;
        height: 100%;
        font-size: 15px;
    }
}